@inherits LayoutComponentBase

@using MudBlazor

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>

    <MudAppBar Elevation="1">
        <MudStaticNavDrawerToggle DrawerId="nav-drawer" Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />
        <MudText Typo="Typo.h5" Class="ml-3">Response</MudText>
        <MudSpacer />
        
        <AuthorizeView>
            <Authorized> 
                <MudBadge Content="100" Color="Color.Primary" Overlap="true" >
                    <MudMenu Icon="@Icons.Material.Filled.AccountCircle" Color="Color.Inherit">
                        <MudMenuItem Icon="@Icons.Material.TwoTone.DarkMode"/>
                        <MudDivider />
                        <MudMenuItem Href="/Profile" Icon="@Icons.Material.Filled.Person" Label="Profile" />
                        <MudMenuItem Href="/Account/Logout" Icon="@Icons.Material.Filled.ExitToApp" Label="Logout" />
                    </MudMenu>            
                </MudBadge>
            </Authorized>
            <NotAuthorized>
                <MudIconButton Href="Account/Login" Icon="@Icons.Material.Filled.PersonOutline" Color="Color.Inherit" Edge="Edge.End" />
            </NotAuthorized>
        </AuthorizeView>
    </MudAppBar>

    <MudDrawer id="nav-drawer" Variant="@DrawerVariant.Mini" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="pt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool _drawerOpen = true;
}


